@model User

@{
	ViewBag.Title = "Here's your quote!";
}

<h2>Your Quote is $@Model.Total</h2>

@*@using (Html.BeginForm("YourQuote", "Home", FormMethod.Post))
{
	<div class="col-2" placeholder="First Name">
		
	</div>
}*@


